rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /subscriptions/{subId} {
      allow read, create: if request.auth != null
        && request.auth.uid == request.resource.data.uid;
      allow update, delete: if request.auth != null
        && request.auth.uid == resource.data.uid;
    }
  }
}
